In [41]:
import pandas as pd
import numpy as np
import _pickle as pickle
#import tqdm
import dtale
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
with open('stock_pickle_full.pickle', 'rb') as fp:
    stocks_df = pickle.load(fp)

In [28]:
d_APPL_df0 = dtale.show(stocks_df['AAPL'])

http://LAPTOP-DL3DBF8J:40000/dtale/main/1
It looks like this data may have already been loaded to D-Tale based on shape and column names. Here is URL of the data that seems to match it:

None

If you still want to load this data please use the following command:

dtale.show(df, ignore_duplicate=True)

In [68]:
def setting_index(df):
    """
    Returns a sorted datetime index
    """
    df['Quarter end'] = pd.to_datetime(df['Quarter end'])
    df.set_index('Quarter end', inplace=True)
    return df.sort_index(ascending=True)

In [121]:
# # Setting the index as the Date
# for i in stocks_df.keys():
#     stocks_df[i] = setting_index(stocks_df[i])
    
# Replacing all "None" values with NaN
for i in stocks_df.keys():
    stocks_df[i].replace("None", 0, inplace=True)
    
# Creating a new dictionary that contains the numerical values, then converting all values to numeric values
num_df = {}
for i in stocks_df.keys():
    num_df[i] = stocks_df[i].apply(pd.to_numeric)

# Replacing values with percent difference or change
pcnt_df = {}
for i in num_df.keys():
    pcnt_df[i] = num_df[i].pct_change(periods=1).apply(lambda x: x*100)

# Replacing infinite values with NaN
for i in pcnt_df.keys():
    pcnt_df[i] = pcnt_df[i].replace([np.inf, -np.inf], np.nan)
    
# Creating a new DataFrame
new_df = {}
for i in pcnt_df.keys():
    new_df[i] = pcnt_df[i]
    
# Excluding the first and last rows (due to transforming to pct change)    
for i in new_df.keys():
    new_df[i] = new_df[i][1:-1]

#  Combining all stock DFs into one
big_df = pd.DataFrame()
for i in pcnt_df.keys():
    big_df = big_df.append(new_df[i], sort=False)
    
# Filling the NaNs with 0
big_df.fillna(0, inplace=True)

# Resetting the index because we no longer need the dates
big_df.reset_index(drop=True, inplace=True)

# Exporting the final DataFrame
with open('stocks42069_df.pkl', 'wb') as fp:
    pickle.dump(big_df, fp)

In [131]:
with open('stocks42069_df.pkl', 'rb') as fp:
    final_df = pickle.load(fp)

In [132]:
len(final_df)

55566

In [133]:
final_df.head()

,Shares,Shares split adjusted,Split factor,Assets,Current Assets,Liabilities,Current Liabilities,Shareholders equity,Non-controlling interest,Preferred equity,...,P/B ratio,P/E ratio,Cumulative dividends per share,Dividend payout ratio,Long-term debt to equity ratio,Equity to assets ratio,Net margin,Asset turnover,Free cash flow per share,Current ratio
0,0.060170,0.060170,0.0,3.011116,1.505420,2.212896,5.757136,3.477486,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.459442,0.000000,0.00000,-137.179487,-4.020246
1,0.164196,0.164196,0.0,6.911624,5.675302,9.182531,14.821592,5.601034,0.0,0.0,...,-40.465919,0.000000,0.0,0.0,0.0,-1.230090,0.000000,0.00000,17.241379,-7.966629
2,0.739888,0.739888,0.0,7.640220,5.819611,8.034188,9.880478,7.405141,0.0,0.0,...,-31.739130,0.000000,0.0,0.0,0.0,-0.223535,0.000000,0.00000,-144.117647,-3.696398
3,0.088384,0.088384,0.0,9.293769,-3.430592,16.044304,11.312545,5.242165,0.0,0.0,...,-2.335456,0.000000,0.0,0.0,0.0,-3.696591,0.000000,0.00000,-553.333333,-13.246196
4,0.066338,0.066338,0.0,-1.390096,-8.478301,-5.535860,0.912052,1.353546,0.0,0.0,...,-28.260870,-25.917859,0.0,0.0,0.0,2.775008,-8.163265,-6.47482,-100.000000,-9.304025

In [117]:
d_final = dtale.show(final_df)

http://LAPTOP-DL3DBF8J:40000/dtale/main/2
It looks like this data may have already been loaded to D-Tale based on shape and column names. Here is URL of the data that seems to match it:

None

If you still want to load this data please use the following command:

dtale.show(df, ignore_duplicate=True)

In [134]:
final_df.to_csv(r'C:\Users\Alex Willett\Desktop\research_tome\stockpup_train_data.csv')

Executing shutdown due to inactivity...

2020-04-08 15:51:51,213 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2020-04-08 15:52:03,416 - INFO     - Executing shutdown...

In [126]:
pcnt_df['AAPL']

,Shares,Shares split adjusted,Split factor,Assets,Current Assets,Liabilities,Current Liabilities,Shareholders equity,Non-controlling interest,Preferred equity,...,P/B ratio,P/E ratio,Cumulative dividends per share,Dividend payout ratio,Long-term debt to equity ratio,Equity to assets ratio,Net margin,Asset turnover,Free cash flow per share,Current ratio
Quarter end,,,,,,,,,,,,,,,,,,,,,
1993-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-07-01,1.451745,1.451745,0.0,1.605810,1.235312,-3.709511,-17.639416,9.343975,NaN,NaN,...,NaN,NaN,133.317779,NaN,NaN,7.612967,NaN,NaN,-100.000000,22.922430
1994-09-30,0.795626,0.795626,0.0,3.500285,5.081304,1.429595,1.398601,6.154963,NaN,NaN,...,1.212121,NaN,0.000000,NaN,-5.891016,2.555911,NaN,NaN,NaN,3.627853
1994-12-30,0.726161,0.726161,0.0,4.342165,5.395970,1.765918,-0.478577,7.497962,NaN,NaN,...,14.970060,NaN,0.000000,NaN,-7.120501,3.026257,NaN,NaN,116.666667,5.902793
1995-03-31,0.328311,0.328311,0.0,9.343936,9.389572,12.285426,15.917313,5.932865,NaN,NaN,...,0.000000,NaN,100.000000,NaN,-5.644482,-3.110151,NaN,NaN,-107.692308,-5.631203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-09-29,-1.750089,-1.750089,0.0,4.733145,13.457036,10.386428,31.980395,-6.787358,NaN,NaN,...,26.346434,9.334889,5.882353,-4.084265,3.526627,-10.996355,1.956324,4.411765,49.568966,-14.036564
2018-12-29,-0.634678,-0.634678,0.0,2.185795,7.224815,-1.063896,-7.344309,10.028279,NaN,NaN,...,-2.995392,-14.567769,5.555556,2.017033,-9.830818,7.679181,49.486836,-30.985915,42.651297,15.732337
2019-03-30,-2.422019,-2.422019,0.0,-8.487928,-12.413725,-7.696217,-13.400996,-10.205951,NaN,NaN,...,-19.358670,-12.742036,5.263158,5.975395,8.024848,-1.901743,46.686567,-32.653061,-61.414141,1.137936
2019-06-29,-1.779910,-1.779910,0.0,-5.777519,9.426329,-4.385148,-4.338182,-8.883431,NaN,NaN,...,23.416789,16.034359,5.273973,2.321725,3.344678,-3.295638,-13.532764,12.121212,11.518325,14.383458
2019-09-28,-1.679840,-1.679840,0.0,5.051220,20.630793,9.852380,17.852047,-6.187277,NaN,NaN,...,17.183771,10.178902,5.009759,0.486224,15.216898,-10.691614,-36.879266,62.162162,81.220657,2.359431